.navigation {
    background-color: white;
    overflow: hidden;
}
.navigation a {
    float:right;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 2px 5px;
    color: black;
    text-align: center;
    padding: 14px 16 px;
    text-decoration: none;
    font-size: 17px;
}
.socialicons {
    height: 28px;
    width: 28px;
}
